.banner {
  overflow: hidden;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #ffffff;
  background-color: #111827;
  height: 675px;


  @media (min-width: 768px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @media (min-width: 1024px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.logo_scroller {
  overflow: hidden;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #F3F4F6;
}

.up_down {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @media (min-width: 640px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.odd_bg {
  background-color: #F3F4F6;
}













.faq {
  margin-bottom: 3rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-align: center;

  @media (min-width: 640px) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.get_started {
  color: #ffffff;
  background-color: #000000;
}

.button_group10 {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 640px) {
    margin-top: 0;
    flex-direction: row;
  }
}

.learn_more {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #ffffff;

  &:hover {
    background-color: #111827;
  }
}

.sign_up {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.375rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;

  &:hover {
    background-color: #F3F4F6;
  }
}

.get_text {
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 1024px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.ready_started_text {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;

  @media (min-width: 640px) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.footer {
  color: #F3F4F6;
  background-color: #111827;
}

.footer_cont {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 1024px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.links_horiz {
  display: grid;
  gap: 2rem;


  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.ql_headings {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.ql_space {
  margin-top: 0.5rem;
}

.quick_links:hover {
  color: #ffffff;
}

.social {
  display: flex;
  margin-top: 1rem;
  margin-left: 2rem;


  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 5px;
}

.copy_right {
  display: flex;
  padding-top: 2rem;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top-width: 1px;
  border-color: #374151;


  @media (min-width: 768px) {
    flex-direction: row;
  }
}



.explore_more {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.7rem;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #000000;
  display: inline-flex;
  align-items: center;
}
